@import "media";

//MAIN DEL INDEX
.main {
    .main_elem {
        text-align: center;
        margin-top: 15px;
        
        video {
            width: 1160px;
            height: 450px;
            @include media(sm) {
                width: 300px;
                height: 200px;
            }
            @include media(md) {
                width: 500px;
                height: 500px;
            }
            @include media(lg) {
                width: 900px;
                height: 350px;
            }
            
        }
    }
}

//SECTION DEL INDEX
.info {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;

    @include media(sm) {
        margin-right: 60px;
        margin-left: 60px;
    }

    .info_letra {
        text-align: center;

        h4 {
            font-family: $font-titles;
            font-size: 30px;

            @include media(sm) {
                font-size: 14px;
            }
        }

        .espacio_p {
            width: 500px;
            margin: 0 auto;

            @include media(sm) {
                width: 250px;
                margin: 0 auto;
                overflow: hidden;
                text-align: center;
            }

            //ARTICLE "¿QUIENES SOMOS?"
            p {
                font-size: 17px;
                margin-top: 10px;

                @include media(sm) {
                    font-size: 10px;
                }
            }

            .text-justify {
                text-align: justify;
            }

            .acomodar-margin {
                @include media(sm) {
                    margin-right: 0;
                    margin-left: 0;
                }
            }
            .carousel{
                @include media(sm){
                    /* width: 55%; */
                }
                .carousel-inner {
                    @include media(sm) {
                        width: 100%;
                        margin-left: 10%;
                        margin-right: 10%;
                    }
                }
            }
        }

    }
}